body{
    background-image: url(https://img.freepik.com/premium-photo/blurred-bookshelf-many-old-books-book-shop-library_36051-477.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    
}